<.live_component id="Navbar" current_user={@current_user || nil} module={LibreTradeWeb.Navbar} />
<main class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-8xl">
    <.flash_group flash={@flash} /> <%= @inner_content %>
  </div>
</main>
